.product_details {
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
  display: flex;
  background-color: white;
}

.product_details > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px;
  border-color: whitesmoke;
}
.product_details > div >img {
  height: 100vh;
  width: 100vw;
}