#footer {
  background-color: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  padding: 2vmax;
  margin-top: 10vmax;
}
#leftFooter {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}
#leftFooter > h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#leftFooter > p {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#leftFooter > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

#midFooter {
  width: 60%;
  text-align: center;
}
#midFooter > h4 {
  font-size: 4vmax;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #eb4034;
}
#midFooter > p {
  /* max-width: 60%; */
  margin: 1vmax auto; 
}
#rightFooter{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rightFooter > h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.4vmax;
}
#rightFooter > a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2vmax;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0.5vmax
}
#rightFooter > a:hover{
  color: #eb4034;
}

